{% extends "users/base.html" %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">¿Has olvidado tu contraseña?</h3>
                    </div>
                    <div class="card-body">
                        {% if form.non_field_errors %}
                            <div class="form-error-summary" role="alert">
                                {% for error in form.non_field_errors %}<div>{{ error }}</div>{% endfor %}
                            </div>
                        {% endif %}
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="small mb-1 required-label" for="id_email">Correo electrónico</label>
                                <input type="email" name="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" autocomplete="email" maxlength="254" required id="id_email" placeholder="Ingrese su correo electrónico">
                                {% for error in form.email.errors %}<div class="field-error"><i class="fas fa-circle-exclamation input-error-icon"></i>{{ error }}</div>{% endfor %}
                            </div>
                            <button type="submit" class="w-100 btn btn-dark">Enviar</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{% url 'users-register' %}">Crear una nueva cuenta</a><br><br>
                            <a href="{% url 'login' %}">Volver al inicio de sesión</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
